/* 报表 公用样式*/
.report .top{
  padding: 28px 16px 0;
}
.report .ui-affix{
	padding-bottom: 0;
}
.report .tab{
  padding: 0 40px;
  margin-top: 20px;
  width: calc(100vw - 160px);
}
.report .ichars{
  width: calc(100vw - 80px);
  padding: 0 40px;
}
.report .tabl{
  padding: 6px 40px;
  margin-top: 20px;
}
.report .export{
  height: 30px;
  margin: 10px 0 20px 0;
}
.report .pdf{
	margin-right: 10px;
}
.report .search{
  padding-left: 10px;
  margin: 10px 0 34px;
}
.report .find{
  margin-top: 20px
}
.report .time{
  padding-left: 2px;
}
.report .el-col-2, .report .colo, .report .prov, .report .deploy, .report .ski, .report .col, .report .demonstration{
  color: #1a1a1a;
}
.report .colo{
  display: inline-block;
  width: 52px;
}
.report .col{
  display: inline-block;
  width: 56px;
}
.report .deploy{
  height: 48px;
  line-height: 48px;
  border: 1px solid #e7e7eb;
  border-bottom: none;
  padding-left: 14px;
}
.report .deploy .tex{
  margin-left: 10px;
  cursor: pointer;
}
.report .deploy .tex:hover{
  color: #1abb9c;
}
.report .deploy .icon-peizhi{
  float: left;
}
.report .deploy .tip+.el-button:hover{
  color: #1abb9c;
}
.report .deploy .el-button{
  border: none;
  padding: 0;
  color: #1a1a1a;
  font-size: 12px;
}
.report .deploy .tip{
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 1px solid #27c0a4;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 6px;
  position: relative;
  top: -1px;
  font-size: 10px;
}
.report .deploy .iconfont{
  font-size: 18px;
  color: #27c0a4;
}
.report .deploy .tip .iconfont{
  font-size: 10px;
}
.report .inquiry{
  display: inline-block;
  width: 108px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  background: #1abb9c;
  color: #fff;
  cursor: pointer;
}

