html, body {
  height: 100%;
  min-width: 1200px;
  /*background: url('../static/img/logo_loading.gif') no-repeat 50% 50%;
  background-size: 0.8 0.8;*/
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: Helvetica, BlinkMacSystemFont, Arial, Verdana, sans-serif;
  /*font-weight: 200;*/
  font-size: 12px;
  color: #000;
}
body.login-loading {
  background: url('../static/img/logo_loading.gif') no-repeat 50% 50%;
  background-size: 0.8 0.8;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, [contenteditable=true] {
  margin: 0;
  padding: 0;
  outline: none;
}
h2, h3, h4, h5, h6 {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}
p{
  line-height: 16px;
}
div {
  display: block;
}
.hidden {
  display: none;
}
a{
  color: #71ccba;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
.clear {
  clear: both;
  height: 0;
}
.clearbt{
  clear: both;
}
.clearfix:after{
  content: " ";
  display: inline-block;
  height: 0;
  clear: both;
  visibility: hidden;
}
//  clearfix   在线咨询不是很适用   增加clearboth方法    qyg
.clearBoth:before,.clearBoth:after{
  content:"";
  display:block
}
.clearBoth:after{
  clear:both;
}
ul,ol,li{
  list-style-type: none!important;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clear10{
  height: 10px
  clear: both
}
input,button,select,textarea,a{outline:none!important;}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-corner {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border: solid 2px #c4c4c4;
  border-radius: 3px;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 3px;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
  background-color:#c0ddeb;
  background-image: none;
  color: #000;
  box-shadow: 0 0 0 1000px #c0ddeb inset;
}
audio::-internal-media-controls-download-button {
    display:none;
    opacity: 0;
    z-index: -1;
    position: fixed;
}
audio::-webkit-media-controls {
    overflow: hidden !important;
    border-radius: 6px;
}
audio::-webkit-media-controls-enclosure {
    width: calc(100% + 32px);
    margin-left: auto;
}
.fake-checkbox
  position absolute
  z-index 9
  top 22px
  line-height 18px
  color #808080
  cursor pointer
  input[type = checkbox]
    opacity 0
    position absolute
    z-index -10
  span
    display inline-block
    float left
    width 12px
    height 12px
    margin-right 7px
    border-radius 7px
    overflow hidden
    border 1px solid #fff
    position relative
  span:hover
    border-color #fff
  input[type = checkbox]:checked + span
    border-color #fff
    background #1abb9c
  input[type = checkbox] + span:after
    box-sizing content-box
    content ""
    border 1px solid #fff
    border-left 0
    border-top 0
    height 6px
    left 4px
    position absolute
    top 2px
    -ms-transform rotate(45deg) scaleY(0)
    transform rotate(45deg) scaleY(1)
    width 3px
    transition transform .15s cubic-bezier(.71,-.46,.88,.6) .05s
    -ms-transform-origin center
    transform-origin center
span.smsTemplateVar
  display inline-block
  border 0
  border-bottom 1px solid #1abb9c
  min-width 3em
  margin 0 3px
  line-height 18px
  word-break break-all
  color #1abb9c
  text-align center
span.cdr-status
  position absolute
  display block
  width 10px
  height 10px
  top 50%
  margin-top -5px
  left -15px
  border-radius 50%
span.cdr-green
  background #a1e036
span.cdr-red
  background-color #ff6c65
span.cdr-orange{
  background-color #f69222
}
  /* 在线咨询消息树中的消息 颜色修改  改为黑色 */
.chat_message_con_text a {
  color: #000;
  text-decoration: underline;
  margin-left: 5px;
}
/*富文本的最左边距暂时强制为0，不然会被遮挡*/
.ql-snow .ql-tooltip
  left: 0 !important;
  z-index: 999;
/* 定位到客户&新增客户 */
.customer-dialog {
  font-size: 14px;
}
/* 批处理公用样式 */
.fake-label
  visibility hidden
  position absolute
  top 0
  left 0
  z-index 20
.visible .fake-label
  visibility visible
  width 330px
  height 60px
  margin -25px 0 0 -8px
.phon .visible .fake-label
  height 86px
  margin -22px 0 0 -6px
.webchat_card .visible .fake-label
  height 75px
.card-list
  label
    visibility hidden
  label.visible
    visibility visible
.batch
  display none
  align-items center
  width calc(100vw - 65px - 10px)
  width -webkit-calc(100vw - 65px - 10px)
  width -moz-calc(100vw - 65px - 10px)
  height 60px
  padding-left 10px
  background rgba(255,255,255,0.9)
  position fixed
  z-index 1990
  border-top 1px solid #d5d5d5
  right 0
  bottom 0
  box-shadow 1px 3px 12px rgba(0,0,0,0.1)
  font-size 12px
  color #808080
  label
    visibility visible!important
  .count
    position absolute
    top 25px
    right 20px
    b
      color #1abb9c
.option
  display inline-block
  height 60px
  line-height 60px
  padding-right 30px
  cursor pointer
.batch .iconfont
  color #1abb9c
  margin-right 6px
  font-size 18px
.batch [class^='el-icon']
  color #1abb9c
  font-size 12px
  cursor pointer
.batch.show
  display flex
.batch_cover
  width 340px
  height 80px
  position fixed
  top 52px
  left 65px
  background hsla(0,0%,100%,0.3)
  z-index 100
  .maska
    float right
    display block
    width 200px
    height 56px
    background #f7f9fa
  .maskb
    float left
    display block
    width 100%
    height 51px
    background #fafafa
.batch_btm
  height 25px
.webchat-card .batch_btm
  height 60px
.email-card .batch_cover
  height 40px
/* 右下角tab切换内容间距 */
.el-tab-pane>.plan, .el-tab-pane>.contact-paln, .el-tab-pane>.change-log, .el-tab-pane>.detail-wrap,.km-detail .public, .questionContent, .questionHistory
  padding 20px 20px 0
  box-sizing border-box
/* 公共按钮底色以及max-width */
.phon .dealing,.btn-paleBlue
  background #8ecbd1
.phon .queueLeak,.btn-orange
  background #f5a622
.phon .voicemail,.btn-purple
  background #cb9be4
.phon .leak,.btn-darkRed
  background #d57b72
.phon .notDeal,.btn-blue
  background #009fe3
.phon .blackList,.btn-gray
  background #b2b2b2
.btn-paleBlue,.btn-orange,.btn-purple,.btn-darkRed,.btn-blue,.btn-gray
  max-width 5em
  text-overflow ellipsis
  overflow hidden
  white-space  nowrap
.bus-card
  .fake-checkbox
    left 11px
/* 细体字 */
.lighter
  font-weight lighter
/* 粗字体 */
.bolder
  font-weight 500
/*知识库鼠标移上几个功能按钮的显隐控制*/
.cata
  .add
    i
      display none
.cata:hover
    background-color #e8f5fc
    .add
      i
        display inline
/*business*/
.el-dialog__body
  .business-tab.el-row
    padding 0
.bus-info-main .icon-fujian.is-disabled:before
  color #999
/*弹窗里无head的切换上间距*/
.userPicDialog .el-dialog__body .el-tabs{
  position: relative;
  z-index: 0;
  margin-top: -45px;
}
.userPicDialog .el-dialog__close{
  position: relative;
  z-index: 1
}
/*知识库内侧图片最大宽度*/
.contentDetails .content img{
  max-width: 100%;
}
